.top-section {
  background-color: #f3c6bd;
}
@media screen and (min-width: 1400px) {
  .top-section {
    background-color: #f3c6bd;
    padding-top: 39px;
  }
}

.header {
  width: 100%;
  height: 64px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.header__button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header__button {
    display: block;
  }
}
@media screen and (min-width: 1400px) {
  .header {
    display: flex;
    width: 1140px;
    height: 62px;
    margin: auto;
    background-color: #f3c6bd;
  }
}
.header__menu-button {
  width: 58px;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1490196078);
  height: 100%;
  margin-left: auto;
  background: transparent;
}
@media screen and (min-width: 1400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-icon {
  width: 18px;
  height: 13px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
  display: inline-block;
}

.logo {
  display: flex;
}
.logo__image {
  height: 48px;
  width: 48px;
  margin-right: 13px;
}
@media screen and (min-width: 1400px) {
  .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__name {
  font-size: 20px;
  color: #000;
  font-weight: 700;
  line-height: 25px;
}
.logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .logo__description {
    font-size: 18px;
    opacity: 0.6;
    color: #2b292d;
    line-height: 25px;
  }
}

.navigation {
  display: none;
}
.navigation__item {
  text-decoration: none;
  color: #2b292d;
  font-size: 18px;
  line-height: 25px;
  margin-right: 50px;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__item:last-child {
  margin-right: 0xp;
}
.navigation__arrow {
  display: inline-block;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  margin-left: 11px;
  width: 8px;
  height: 5px;
}
@media screen and (min-width: 1400px) {
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.footer__line {
  border: 1px solid #2b292d;
  width: 100%;
  opacity: 0.1;
  margin: 0;
}
.footer__description {
  line-height: 26px;
  font-size: 18px;
  width: 360px;
  margin-top: 36px;
  color: rgba(43, 41, 45, 0.6);
}

.footer-navigation {
  width: 1140px;
  margin: 0 auto;
  height: 338px;
  display: flex;
}

.about-company {
  margin-top: 44px;
}

.downloads {
  margin-top: 25px;
}
.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  margin-top: 60px;
  margin-left: auto;
  display: flex;
}
.additional-navigation__column {
  margin-right: 29px;
}

.nav-links {
  width: 265px;
}
.nav-links__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}
.nav-links__list {
  list-style-type: none;
  color: rgba(43, 41, 45, 0.6);
  font-size: 18px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-top: 18px;
}

.footer-links {
  width: 1140px;
  margin: 0 auto;
  height: 50px;
  display: flex;
  align-items: center;
}

.terms {
  line-height: 50px;
  font-size: 14px;
}
.terms__item {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  margin-right: 22px;
}

.social-links {
  margin-left: auto;
}
.social-links__item {
  margin-right: 20px;
}

.headline {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline {
    position: relative;
    width: 1140px;
    margin: auto;
    margin-top: 84px;
    display: flex;
    padding-bottom: 77px;
  }
}
.headline__content {
  margin: 35px 15px 33px 15px;
}
@media screen and (min-width: 1400px) {
  .headline__content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
}
.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3px;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 1;
  }
}
.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    margin-top: 34px;
    margin-bottom: 0;
    width: 456px;
    height: 102px;
    font-size: 24px;
    line-height: 34px;
    z-index: 1;
  }
}
.headline__actions {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .headline__actions {
    margin-top: 58px;
    display: flex;
  }
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}
@media screen and (min-width: 1400px) {
  .headline__banner {
    position: relative;
    right: -105px;
    top: 0;
    width: 796px;
    height: 448px;
    margin-left: auto;
  }
}
.headline__learn-more-btn {
  background-color: #fff;
  color: #3040c4;
  height: 48px;
  width: 158px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .headline__learn-more-btn {
    margin-left: 10px;
    margin-top: 0;
  }
}
@media screen and (max-width: 1399px) {
  .headline__action-btn {
    width: 100%;
  }
}

.action-button {
  background-color: #3040c4;
  height: 48px;
  width: 160px;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.about {
  width: 100%;
  background-color: #f4f5f7;
  padding: 46px 15px;
}
@media screen and (min-width: 1400px) {
  .about {
    display: flex;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }
}

.article:last-child {
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .article:last-child {
    margin-top: 0;
  }
}

.article__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
.article__text {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  margin-top: 6px;
}
@media screen and (min-width: 1400px) {
  .article {
    width: 555px;
  }
}

.customers {
  display: flex;
  flex-direction: column;
}
.customers__row {
  display: flex;
}
@media screen and (min-width: 1400px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
}
.customers__item {
  height: 94px;
  width: 107px;
  border-bottom: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
@media screen and (min-width: 1400px) {
  .customers__item {
    border: 0;
  }
}
.customers__item:last-child {
  border-right: none;
}
.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}
@media screen and (min-width: 1400px) {
  .customers {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 106px;
    flex-direction: row;
  }
}

.features {
  display: flex;
  position: relative;
}
.features__left-decoration {
  position: absolute;
  top: 258px;
  height: 166px;
}
.features__content {
  width: 1140px;
  margin: auto;
  display: flex;
}
.features__column {
  width: 459px;
}
.features__subtitle {
  color: #009b4d;
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
  margin: 0;
}
.features__title {
  color: #2b292d;
  font-size: 56px;
  line-height: 56x;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-top: 24px;
  margin-bottom: 0;
}
.features__description {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
.features__advantage-header {
  line-height: 42px;
  display: flex;
  margin-top: 42px;
}
.features__advantage-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: #3142c6;
  margin: 0;
  margin-left: 15px;
}
.features__advantage-description {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142c6;
}
.features__advantage-item {
  border-bottom: 1px solid rgba(43, 41, 45, 0.1490196078);
  margin-top: 21px;
  padding-bottom: 22px;
  display: flex;
}
.features__advantage-item-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}
.features__banner {
  position: absolute;
  right: 0;
}
@media screen and (max-width: 1399px) {
  .features {
    display: none;
  }
}

.tips {
  margin-top: 8px;
}

.tip {
  padding: 45px 15px 0px 15px;
  border-bottom: 1px solid #e3e3e3;
}
.tip__subtitle {
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
  font-weight: 700;
}
.tip__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.3px;
}
.tip__decription {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 13px;
}
.tip__decoration {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tip__image {
  margin-top: 30px;
  max-width: 100%;
}
.tip__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .tip {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #2b292d;
}

.page {
  width: 100%;
  overflow-x: hidden;
}
@media screen and (min-width: 1400px) {
  .page {
    width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
