.audience {
    width: 100%;
    background-color: #00A1C610;
    
    &__content {
        padding: 50px 15px;
        text-align: center;

        @include for-large {
            padding: 108px 131px 110px 130px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__subtitle {
        font-size: 22px;
        line-height: 34px;
        font-weight: $text-weight;
        margin: 0;
    }

    &__title {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.3px;
        font-weight: $text-weight;
        margin: 0;
        margin-top: 17px;

        @include for-large {
            margin-top: 24px;
            font-size: 56px;
            line-height: 56px;
            letter-spacing: -0.5px;
            width: 555px;
        }
    }

    &__description {
        font-size: 24px;
        line-height: 34px;
        margin: 0;
        margin-top: 18px;

        @include for-large {
            margin-top: 30px;
            width: 555px;
        }
    }

    &__action-btn {
        margin-top: 30px;

        &:last-child {
            margin-top: 12px;
    
            @include for-large {
                margin-left: 10px;
            }
        }

        @include for-large {
            margin-top: 34px;
        }
    }

    &__items {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include for-large {
            flex-direction: row;
            margin-top: 111px;
        }
    }

}

.user-card {
    background-color: #fff;
    height: 300px;
    border-radius: 8px;
    margin: 0;
    margin-top: 15px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05), 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
    cursor: pointer;

    &:first-child {
        margin: 0;
    }

    &:hover {
        background-color: #3141C5;
        color: #fff;
    }

    @include for-large {
        height: 300px;
        width: 262px;
        margin: 0;
        margin-left: 30px;
    }

    &__decoration-image {
        margin-top: 22px;
    }


    &__image-caption {
        font-size: 22px;
        line-height: 28px;
        font-weight: $text-weight;
        margin: 22px 20px 33px;
    }
}