.action-button {
    background-color: #3040c4;
    height: 48px;
    width: 160px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;

    @include for-small-and-medium {
        width: 100%;
    }
}

.action-white-button {
        background-color: #fff;
        color: #3040c4;
        height: 48px;
        width: 158px;
        font-size: 18px;
        font-weight: 700;
        border-radius: 2px;
        border: none;
        margin-top: 15px;

        @include for-large {
            margin-left: 10px;
            margin-top: 0;
        }

        @include for-small-and-medium {
            width: 100%;
        }
}

.hide_desktop {
    @include for-large {
        display: none;
    }
}

.hide_mobile {
    @include for-small-and-medium {
        display: none;
    }
}