.feedback {
    width: 100%;
    position: relative;

    @include for-large {
        width: 1400px;
    }

    &__content {
        padding: 39px 15px 50px 15px;

        @include for-large {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: $text-weight;
        line-height: 30px;
        color: $text-color-blue;
        margin: 0;

        @include for-large {
            width: 1140px;
            padding-left: 130px;
            padding-right: 130px;
        }
    }

    &__description {
        font-size: 24px;
        line-height: 34px;
        margin: 0;
        margin-top: 29px;

        @include for-large {
            width: 750px;
        }
    }

    &__subtitle {
        font-size: 16px;
        line-height: 24px;
        font-weight: $text-weight;
        margin: 0;
        margin-top: 32px;

        @include for-large {
            margin-top: 34px;
        }
    }

    &__subtitle-description {
        color: $text-color-light-grey;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        margin-top: 4px;
    }

    &__selectors {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        @include for-large {
            margin-top: 38px;
        }
    }

    &__selectors-item {
        height: 12px;
        width: 12px;
        background-color: #2B292D20;
        border-radius: 50%;
        margin-left: 19px;

        @include for-large {
            margin-left: 13px;
            height: 8px;
            width: 8px;
        }
    }

    &__selectors-item:first-child {
        margin: 0;
    }

    &__image {
        margin-top: 40px;

        @include for-large {
            margin: 0;
            position: absolute;
            right: 26px;
            bottom: 0;
        }
    }

    &__line {
        height: 1px;
        background-color: $color-light-grey;
    }
}

.selected {
    background-color: #3142C5;
}

.under-audience {
    padding-bottom: 76px;
}