.feedback {
    width: 100%;

    &__content {
        padding: 39px 15px 50px 15px;
    }

    &__title {
        font-size: 24px;
        font-weight: $text-weight;
        line-height: 30px;
        color: #3142C6;
        margin: 0;
    }

    &__description {
        font-size: 24px;
        line-height: 34px;
        margin: 0;
        margin-top: 29px;
    }

    &__subtitle {
        font-size: 16px;
        line-height: 24px;
        font-weight: $text-weight;
        margin: 0;
        margin-top: 32px;
    }

    &__subtitle-description {
        color: $text-color-light-grey;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        margin-top: 4px;
    }

    &__selectors {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    &__selectors-item {
        height: 12px;
        width: 12px;
        background-color: #2B292D20;
        border-radius: 50%;
        margin-left: 19px;
    }

    &__selectors-item:first-child {
        margin: 0;
    }

    &__image {
        margin-top: 40px;
    }

    &__line {
        height: 1px;
        background-color: #E3E3E3;
    }
}

.selected {
    background-color: #3142C5;
}