.top-section {
    background-color: #f3c6bd;

    @include for-large {
        background-color: #f3c6bd;
        padding-top: 39px;        
    }
}

.header {
    width: 100%;
    height: 64px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 15px;

    &__button {
        display: none;
        
        @include for-large {
            display: block;
        }
    }

    @include for-large {
        display: flex;
        width: 1140px;
        height: 62px;
        margin: auto;
        background-color: #f3c6bd;        
    }

    &__menu-button {
        width: 58px;
        border: none;
        border-left: 1px solid #00000026;
        height: 100%;
        margin-left: auto;
        background: transparent;

        @include for-large {
            display: none;
        }
    }

    &__menu-icon {
        width: 18px;
        height: 13px;
        background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
        display: inline-block;
    }
}

.logo {
    display: flex;

    &__image {
        height: 48px;
        width: 48px;
        margin-right: 13px;
        

        @include for-large {
        width: 60px;
        height: 60px;
        margin-right: 15px;
        } 
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__name {
        font-size: 20px;
        color: #000;
        font-weight: $text-weight;
        line-height: 25px;
    }

    &__description {
        display: none;

        @include for-large {
            display: block;
        font-size: 18px;
        opacity: 0.6;
        color: $text-color-dark-grey;
        line-height: 25px;
        }
    }
}

.navigation {
    display: none;

    &__item {
        text-decoration: none;
        color: $text-color-dark-grey;
        font-size: 18px;
        line-height: 25px;
        margin-right: 50px;

        &:last-child {
            margin-right: 0xp;
        }


        &_selected {
            font-weight: $text-weight;
        }
    }

    &__arrow {
        display: inline-block;
        background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
        margin-left: 11px;
        width: 8px;
        height: 5px;
    }

    @include for-large {
        display: block;
        margin-left: auto;
        margin-top: 7px;
        margin-right: 75px;
    }
}