.inbox {
    background-color: #fcf0e366;
    width: 100%;

    @include for-large {
        width: 1400px;
        display: flex;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 0 15px 48px 15px;

        @include for-large {
            display: flex;
            margin: 115px 130px 116px 190px;
        }
    }

    &__decoration {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;

        @include for-large {
            margin: 142px 0 0 193px;
            height: 510px;
            max-width: 425px;
        }
    }

    &__decoration-image {
        width: 290px;
        height: 348px;
    }

    &__decoration-description {
        display: none;

        @include for-large {
            display: block;
            color: $text-color-light-grey;
            margin-top: 15px;
            font-size: 14px;
            line-height: 22px;
        }
    }

    &__subtitle {
        color: #F1592B;
        font-weight: $text-weight;
        font-size: 22px;
        line-height: 34px;
        margin-top: 32px;
    }

    &__title {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.3px;
        font-weight: $text-weight;
        margin: 0;
        margin-top: 17px;

        @include for-large {
            margin-top: 24px;
            font-size: 56px;
            line-height: 56px;
            letter-spacing: -0.5px;
        }
    }

    &__description {
        font-size: 24px;
        line-height: 34px;
        height: 205px;
        margin: 0;
        margin-top: 18px;

        @include for-large {
            height: 102px;
            width: 461px;
        }
    }
}

.massage {
    background-color: #fff;
    height: 321px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05), 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
    border-bottom: 4px solid #0185D0;

    @include for-large {
        margin-left: -28px;
        width: 519px;
        height: 213px;
        margin-top: 44px;
    }

    &__description {
        margin: 0;
        margin: 30px 20px 0px 20px;
        font-size: 20px;
        line-height: 28px;
    }
    
    &__user {
        display: flex;
        margin-top: 26px;
    }

    &__user-image {
        margin: 2px 11px 0 20px;
        height: 40px;
        width: 40px;
    }

    &__text {
        display: flex;
        flex-direction: column;
    }

    &__name {
        font-size: 16px;
        line-height: 22px;
        font-weight: $text-weight;
    }

    &__name-description {
        font-size: 16px;
        line-height: 22px;
        color: $text-color-light-grey;
    }
}