@import 'breakpoints.scss';
@import 'variables.scss';
@import 'common.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'headline.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'features.scss';
@import 'tips.scss';
@import 'audience.scss';

* {
    box-sizing: border-box;
}

html {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: $text-color-dark-grey;
}

.page {
    width: 100%;
    overflow-x: hidden;

    @include for-large {
        width: 1400px;
        margin: auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

