$light-color: #F4F5F7;
$color-light-grey: #E3E3E3;


$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$text-color-dark-grey: #2B292D;
$text-color-blue: #3142C6;

$text-weight: 700;

$border-color-dark: #2b292d33;
$border-color: $text-color-blue;
$border-color-light-grey: $color-light-grey;